<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3" style="display: block;" ng-repeat="journal in journalListCtrl.journals">
      <div class="notebookLayout">
        <a ui-sref="app.journal-detail({id:journal._id})">
          <div class="single notebook">

            <p class="journalCover"> 10 minutes a day</p>
            </br>
            <p class="journalDate journalCover">{{ journal.date | date : format : mediumDate}}</p>

          </div>
        </a>
      </div>
      <div class="edit-delete-buttons">
        <div class="row">
          <button ng-click="journalListCtrl.remove(journal._id)" class="action-button-small delete-button shadow animate red">Delete</button>

          <button ui-sref="app.update-journal({id:journal._id})" class="action-button-small edit-button shadow animate light-purple">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>