<div class='col-xs-12'>
    <div class='row'>
        <h2>Greenscapes</h2>
        <p>{{listCtrl.tagline}}</p>
    </div>
</div>
<div class='col-xs-12'>
    <div class='row'>


        <!-- BEGIN panel-body -->
        <div class="panel-body">
            <p class="desc">Greenscapes</p>
            <div class="table-responsive">
                <table class="table m-b-0 table-bordered bordered table-striped table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Strategies</th>
                            <th>Image</th>
                            <th class='action-buttons-tr'>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="listing in greenscapeCtrl.greenscapes | filter:{isArchived:false}">
                            <td>{{greenscape.name}}</td>
                            <td ng-class="greenscapeCtrl.selectedItem==greenscape  ? 'td-expand': 'td-compress'" ng-click="greenscapeCtrl.selectedItem = greenscapeCtrl.selectedItem ==greenscape? a:greenscape">{{greenscape.description}}</td>
                            <td>
                                <ul>
                                    <li ng-repeat="strategy in greenscape.strategies">{{strategy.name}}</li>
                                </ul>
                            </td>
                            <td>
                                <img class='image-size' src='{{greenscape.imageUrl}}' />
                            </td>
                            <td class='btn-col crud-table-buttons'>
                                <view-edit-archive-buttons item='greenscape' service='greenscapeCtrl.service' on-list-archive='greenscapeCtrl.updateArray(arrayItem)'></view-edit-archive-buttons>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <!-- END panel-body -->
            </div>
        </div>

    </div>
</div>

